# API

### Definindo a função "get_data()"
Para o nosso exemplo nós vamos ter uma função **"get_data()"** que vai receber os seguintes argumentos:

 - **session_db:** Sessão com o Banco de Dados, retornada pelo a função *start()* da classe Coins.
 - **engine_db:** Engine, retornada pelo a função *start()* da classe Coins.
 - **start:** De onde ele vai começar a busca na API, ou seja, no primeiro elemento.
 - **limit:** O valor máximo da busca na API, ou seja, o maior valor da busca.
 - **convert:** O Bitcoin vai ser convertido para qual tipo de moeda? *USD* 
 - **key:** Sua chave da API (API Key), conseguir pegar dados da API
   - 7e8d0c0c-187a-4e0e-830a-5bbc92a73486
 - **url:** A URL onde vai ser pego os dados.
   - https://pro-api.coinmarketcap.com/v1/cryptocurrency/listings/latest

In [1]:
start = "1"
limit = "5000"
convert = "USD"
key = "187a-4e0e-830a-5bbc92a73486"
url = "https://pro-api.coinmarketcap.com/v1/cryptocurrency/listings/latest"

---

### Definindo parâmetros da sessão (headers + parameters)
Dentro da função **"get_data()"** nós vamos ter que definir:

 - Os headers da sessão que é atualizado com:
   - session.headers.update(headers)
 - Os parâmetros passados como argumento para a função *"session.get(url, params=parameters)"*

**NOTE:**  
Mas como aqui é um ambiente de teste, vamos passar os valores exatos para os headers e parâmetros:

In [2]:
headers = {
    'Accepts': 'application/json',
    'X-CMC_PRO_API_KEY': "7e8d0c0c-187a-4e0e-830a-5bbc92a73486",
}

parameters = {
    'start': "1",
    'limit': "5000",
    'convert': "USD"
}

---

### Criando uma instância (sessão) request

In [3]:
from requests import Session

# Session instance (request).
session = Session()

---

### Atualizando os headers da sessão

In [4]:
session.headers.update(headers)

---

### Pegando os dados com o método get() da instância (sessão) request

In [5]:
try:
    response = session.get(url, params=parameters)
except Exception as e:
    print (f'Error to get data from APi: {e}')
    exit(1) # Stop application.

In [6]:
# response.text

---

### Convertendo os dados para JSON
Os dados que vem com o retorno do método **get()** não vem em um formato muito bom para trabalhar. Para resolver isso, utilizamos o atributo **text** que retorna os os dados do método **get()** em um formato de text e passamos pelo método **json.loads()** que transformar os dados em um formato *json*.

In [7]:
import json

data = json.loads(response.text) # Convert data (text) to JSON.

In [8]:
# data

---

### Salvando apenas os dados (colunas/features) necessários
Para cada registro (amostra de dados) o retorno vai ter várias colunas/features e nós vamos selecionar apenas as colunas/features que nós temos interesse em cada registro (amostra de dados).

**NOTE:**  
Essas colunas/features serão salvas em listas vazias, uma para cada coluna/feature.

In [9]:
# Empty lists to persist data.
name = []
symbol = []
data_added = []
last_updated = []
price = []
volume_24h = []
circulating_supply = []
total_supply = []
max_supply = []
volume_24h = []
percent_change_1h = []
percent_change_24h = []
percent_change_7d = []

In [10]:
for coin in data['data']:
    name.append(coin['name']) # Append to list "name".
    symbol.append(coin['symbol']) # Append to list "symbol".
    data_added.append(coin['date_added']) # Append to list "date_added".
    last_updated.append(coin['last_updated']) # Append to list "last_updated".
    circulating_supply.append(coin['circulating_supply']) # Append to list "circulating_supply".
    total_supply.append(coin['total_supply']) # Append to list "total_supply".
    max_supply.append(coin['max_supply']) # Append to list "max_supply".
    price.append(coin['quote']['USD']['price']) # Append to list "price".
    volume_24h.append(coin['quote']['USD']['volume_24h']) # Append to list "volume_24h".
    percent_change_1h.append(coin['quote']['USD']['percent_change_1h']) # Append to list "percent_change_1h".
    percent_change_24h.append(coin['quote']['USD']['percent_change_24h']) # Append to list "percent_change_24h".
    percent_change_7d.append(coin['quote']['USD']['percent_change_7d']) # Append to list "percent_change_7d".

In [11]:
name[:10]

['Bitcoin',
 'Ethereum',
 'Tether',
 'BNB',
 'USD Coin',
 'XRP',
 'Cardano',
 'Polygon',
 'Dogecoin',
 'Binance USD']

In [12]:
symbol[:10]

['BTC', 'ETH', 'USDT', 'BNB', 'USDC', 'XRP', 'ADA', 'MATIC', 'DOGE', 'BUSD']

In [13]:
data_added[:10]

['2013-04-28T00:00:00.000Z',
 '2015-08-07T00:00:00.000Z',
 '2015-02-25T00:00:00.000Z',
 '2017-07-25T00:00:00.000Z',
 '2018-10-08T00:00:00.000Z',
 '2013-08-04T00:00:00.000Z',
 '2017-10-01T00:00:00.000Z',
 '2019-04-28T00:00:00.000Z',
 '2013-12-15T00:00:00.000Z',
 '2019-09-20T00:00:00.000Z']

In [14]:
last_updated[:10]

['2023-03-14T12:59:00.000Z',
 '2023-03-14T12:59:00.000Z',
 '2023-03-14T12:59:00.000Z',
 '2023-03-14T12:59:00.000Z',
 '2023-03-14T12:59:00.000Z',
 '2023-03-14T12:59:00.000Z',
 '2023-03-14T12:59:00.000Z',
 '2023-03-14T12:59:00.000Z',
 '2023-03-14T12:59:00.000Z',
 '2023-03-14T12:59:00.000Z']

In [15]:
circulating_supply[:10]

[19317318,
 122373866.2178,
 72899554644.6048,
 157892302.4406476,
 39509917694.048744,
 50950912949,
 34697934253.536,
 8734317475.28493,
 132670764299.89409,
 8375923985.893375]

In [16]:
total_supply[:10]

[19317318,
 122373866.2178,
 73141766321.23428,
 159979963.59042934,
 39509917694.048744,
 99989113908,
 35573698990.423,
 10000000000,
 132670764299.89409,
 8375923985.893375]

In [17]:
max_supply[:10]

[21000000,
 None,
 None,
 None,
 None,
 100000000000,
 45000000000,
 10000000000,
 None,
 None]

In [18]:
price[:10]

[26023.776239328985,
 1747.508084048491,
 1.0063568547588917,
 316.3568491338694,
 0.9998000722056288,
 0.3807276005850595,
 0.35842182597112887,
 1.2226163824468022,
 0.07537852532025544,
 1.0033996079083864]

In [19]:
volume_24h[:10]

[52536690784.006516,
 15368201551.580425,
 71090759134.8564,
 837942768.5862341,
 7647823045.630181,
 1522295033.955601,
 539632845.2239375,
 996330198.2020235,
 558344873.8752048,
 9769837223.94011]

In [20]:
percent_change_1h[:10]

[4.70684847,
 3.27842164,
 0.20303401,
 2.84017036,
 0.08506836,
 2.8509167,
 4.3594461,
 4.65135553,
 3.80944798,
 0.24541721]

In [21]:
percent_change_24h[:10]

[17.39540179,
 10.30193239,
 0.46894329,
 6.73458485,
 0.87848151,
 5.90506764,
 8.6213807,
 10.66100029,
 9.78218712,
 0.47025661]

In [22]:
percent_change_7d[:10]

[16.10601852,
 11.47998584,
 0.63544238,
 10.33537815,
 -0.02725337,
 1.85157557,
 9.2663593,
 6.65194303,
 1.61108417,
 0.30553394]

---

### Transformando os dados em um DataFrame Pandas

In [23]:
import pandas as pd

In [24]:
# Prepare a dictionary in order to turn it into a pandas dataframe below       
coin_dict = {
    "name" : name,
    "symbol": symbol,
    "data_added" : data_added,
    "last_updated" : last_updated,
    "price": price,
    "volume_24h": volume_24h,
    "circulating_supply" : circulating_supply,
    "total_supply": total_supply,
    "max_supply": max_supply,
    "volume_24h": volume_24h,
    "percent_change_1h": percent_change_1h,
    "percent_change_24h": percent_change_24h,
    "percent_change_7d": percent_change_7d
}

In [25]:
# Create dataframe to structure data
coins_df = pd.DataFrame(
    coin_dict,
    columns = [
        "name",
        "symbol",
        "data_added",
        "last_updated",
        "price",
        "volume_24h",
        "circulating_supply",
        "total_supply",
        "max_supply",
        "percent_change_1h",
        "percent_change_24h",
        "percent_change_7d"
    ]
)

In [26]:
coins_df.head(10)

,name,symbol,data_added,last_updated,price,volume_24h,circulating_supply,total_supply,max_supply,percent_change_1h,percent_change_24h,percent_change_7d
0,Bitcoin,BTC,2013-04-28T00:00:00.000Z,2023-03-14T12:59:00.000Z,26023.776239,5.253669e+10,1.931732e+07,1.931732e+07,2.100000e+07,4.706848,17.395402,16.106019
1,Ethereum,ETH,2015-08-07T00:00:00.000Z,2023-03-14T12:59:00.000Z,1747.508084,1.536820e+10,1.223739e+08,1.223739e+08,NaN,3.278422,10.301932,11.479986
2,Tether,USDT,2015-02-25T00:00:00.000Z,2023-03-14T12:59:00.000Z,1.006357,7.109076e+10,7.289955e+10,7.314177e+10,NaN,0.203034,0.468943,0.635442
3,BNB,BNB,2017-07-25T00:00:00.000Z,2023-03-14T12:59:00.000Z,316.356849,8.379428e+08,1.578923e+08,1.599800e+08,NaN,2.840170,6.734585,10.335378
4,USD Coin,USDC,2018-10-08T00:00:00.000Z,2023-03-14T12:59:00.000Z,0.999800,7.647823e+09,3.950992e+10,3.950992e+10,NaN,0.085068,0.878482,-0.027253
5,XRP,XRP,2013-08-04T00:00:00.000Z,2023-03-14T12:59:00.000Z,0.380728,1.522295e+09,5.095091e+10,9.998911e+10,1.000000e+11,2.850917,5.905068,1.851576
6,Cardano,ADA,2017-10-01T00:00:00.000Z,2023-03-14T12:59:00.000Z,0.358422,5.396328e+08,3.469793e+10,3.557370e+10,4.500000e+10,4.359446,8.621381,9.266359
7,Polygon,MATIC,2019-04-28T00:00:00.000Z,2023-03-14T12:59:00.000Z,1.222616,9.963302e+08,8.734317e+09,1.000000e+10,1.000000e+10,4.651356,10.661000,6.651943
8,Dogecoin,DOGE,2013-12-15T00:00:00.000Z,2023-03-14T12:59:00.000Z,0.075379,5.583449e+08,1.326708e+11,1.326708e+11,NaN,3.809448,9.782187,1.611084
9,Binance USD,BUSD,2019-09-20T00:00:00.000Z,2023-03-14T12:59:00.000Z,1.003400,9.769837e+09,8.375924e+09,8.375924e+09,NaN,0.245417,0.470257,0.305534

---

### Verificando se o DataFrame está vazio
Agora nós vamos verificar se o DataFrame que nós criamos está vázio em algumas colunas. Para isso nós vamos criar uma função "**check_if_valid_data()**".

**NOTE:**  
Uma observação aqui é que essa função vai receber um DataFrame pandas como argumento.

In [27]:
def check_if_valid_data(df: pd.DataFrame) -> bool:
    
    # Check if dataframe is empty
    if df.empty:
        print("\nDataframe empty. Finishing execution")
        return False 

    # Check for nulls
    if df.symbol.empty:
        raise Exception("\nSymbol is Null or the value is empty")
 
     # Check for nulls
    if df.price.empty:
        raise Exception("\nPrice is Null or the value is empty")

    # Check for nulls
    if df.data_added.empty:
        raise Exception("\nData is Null or the value is empty")

    return True

In [28]:
check_if_valid_data(coins_df)

True

**NOTE:**  
Vejam que, se houver algum campo vazio ele vai forçar uma exceção com o statement *"raise"*, se não, vai retornar **"True"**.

---

# Database

### Conexão com o Banco de Dados
A primeira coisa que nós vamos fazer é testar a conexão com o Banco de Dados. Para isso nós precisamos saber:

> dialect+driver://username:password@host:port/database

 - **dialect:**  Dialect names include the identifying name of the SQLAlchemy dialect, a name such as sqlite, mysql, postgresql, oracle, or mssql.
 - **driver:** The drivername is the name of the DBAPI to be used to connect to the database using all lowercase letters:
   - If not specified, a “default” DBAPI will be imported if available - this default is typically the most widely known driver available for that backend.
 - **Username:** Nome do usuário (Ou ADM) que vai acessar o Banco de Dados.
 - **Password:** Senha de acesso para conectar no Banco de Dados.
 - **Host (ou IP):** IP ou Link de acesso para se conectar com o Banco de Dados.
 - **Port:**  Porta de conexão que o Banco de Dados vai utilizar.
 - **Database:** O nome do Banco de Dados a qual vamos nos conectar.

---

### Criando uma tabela no Banco de Dados
Agora nós vamos criar o modelo de uma tabela que vai ser criada no nosso Banco de Dados.

**NOTE:**  
Essa classe também vai ter um método responsável por criar o Banco de Dados na AWS o qual vai retornar:

 - Uma sessão.
 - E a Engine.

In [29]:
from sqlalchemy import create_engine, Column, Integer, String, DateTime, Float, Text
from sqlalchemy.orm import declarative_base, sessionmaker


Base = declarative_base()

class Coins(Base):
    __tablename__ = 'tb_coins'  # if you use base it is obligatory
    id = Column(Integer, primary_key=True)  # obligatory
    name = Column(String)
    symbol = Column(String)
    data_added = Column(Text)
    last_updated = Column(Text)
    price = Column(Float)
    volume_24h = Column(Float)
    circulating_supply = Column(Float)
    total_supply = Column(Float)
    max_supply = Column(Float)
    volume_24h = Column(Float)
    percent_change_1h = Column(Float)
    percent_change_24h = Column(Float)
    percent_change_7d = Column(Float)
    
    def start():
        db_string = "postgresql://postgres:skX45837V&8h@server.ceukrpnlio5b.us-east-1.rds.amazonaws.com:5432/coins"
        engine = create_engine(db_string)
        Session = sessionmaker(bind=engine)
        session = Session()
        Base.metadata.create_all(engine)
        print ('\nTable created on database')
        return session, engine

Agora vamos chamar o método start para ver se a nossa tabela foi criada:

In [30]:
session, engine = Coins.start()

Table created on database

**NOTE:**  
Se você verificar no seu Banco de Dados vai ver que foi criada uma tabela **"tbl_coins"** no seu Banco de Dados **"Coins"** na AWS.

![img](../images/tbl_coins-01.png)

---

### Inserindo Dados na tabela a partir do método DataFrame.to_sql()
O método **to_sql()** tem os seguintes parâmetros:
 - **to_sql():**
   - **name:** Name of SQL table.
   - **con:** sqlalchemy.engine.(Engine or Connection) or sqlite3.Connection.
   - **if_exists:** How to behave if the table already exists.
     - **fail:** Raise a ValueError.
     - **replace:** Drop the table before inserting new values.
     - **append:** Insert new values to the existing table.
   - **index (True or False):** Write DataFrame index as a column. Uses index_label as the column name in the table.

In [31]:
coins_df.to_sql("tb_coins", engine, if_exists='append', index=False)

1000

**NOTE:**  
Se você verificar no seu Banco de Dados vai ver que os 5.000 registros (amostra de dados) foram inseridos no Banco de Dados.

![img](../images/tbl_coins-02.png)

---

Ro**drigo** **L**eite da **S**ilva - **drigols**